.header__logout-button {
    width: 150px;
    height: 35px;
    border: none;
    background-color: rgb(212, 176, 78);
    cursor: pointer;
}

.header__logout-button:hover {
    background-color: rgb(237, 204, 115);
}