.header__logout-button {
    max-width: 150px;
    height: 35px;
    border: none;
    background-color: rgb(212, 176, 78);
    cursor: pointer;
}

.header__logout-button:hover {
    background-color: rgb(237, 204, 115);
}

@media screen and (max-width: 855px) {
    .header__logout-button {
        height: 30px;
    } 
}