.trialItem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr;
    width: fit-content;
    height: 128px;
    margin: 5px;
    box-sizing: border-box;
    background-color: transparent;
}