.trialItem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 1fr;
    width: calc(100% - 10px);
    height: 128px;
    margin: 5px;
    box-sizing: border-box;
    background-color: transparent;
    gap: 0 10px;
}