.header__profile-info {
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: rgba(44, 52, 65, .3);
    border-radius: 20px;
    font-size: 14px;
}