.buttons__end-day {
    width: 35%;
    height: 100%;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    transition-property: color, text-shadow;
    transition-duration: .4s;
    color: rgb(193, 202, 212);
}

.buttons__end-day:hover {
    transition-property: color, text-shadow;
    transition-duration: .4s;
    color: rgb(95, 125, 213);
    text-shadow: 0 0 35px rosybrown;
}