.logo__second-line {
    box-sizing: border-box;
    padding: 5px 19px 10px 0;
    margin: 0;
    font-size: 43px;
    letter-spacing: 2px;
    text-align: right;
    height: 50%;
    color: rgb(176, 115, 183);
    text-shadow: 0 0 55px rosybrown;
}

@media screen and (max-width: 880px) {
 .logo__second-line {
    text-align: center;
    padding: 5px 0 0 10px;
 }
}