.activities__upgrade-button {
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    padding-bottom: 12px;
    transition-property: color, text-shadow;
    transition-duration: .4s;
    color: rgb(205, 156, 203);
    height: 25px;
    width: 80px;
    background-image: url('../../../images/upgrade-button.png');
    background-repeat: no-repeat;
    margin-left: 5px;
    cursor: pointer;
}

.activities__upgrade-button:hover {
    transform: scale(1.1);
    transition-property: color, text-shadow;
    transition-duration: .4s;
    color: rgb(207, 177, 206);
    text-shadow: 0 0 35px rosybrown;
}