.main {
  height: 80%;
  max-width: 1152px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 1175px) {
  .main {
    width: calc(100% - 30px);
  }  
}