.activities__progress-bar {
    width: 85%;
    height: 15px;
    box-sizing: border-box;
    border: 1px solid #1f252e;
    margin-left: 10px;
    background: linear-gradient(to right, rgb(200, 38, 38) 15%, #2c3441 15%);
    border-radius: 90px;
}