.activities__description {
    height: 100%;
    width: 100%;
    background-color: rgba(44, 52, 65, .2);
    color: rgb(169, 188, 204);
    margin: 0;
    text-align: center;
    line-height: 40px;
    box-sizing: border-box;
}