.activities__info-title {
    margin: 5px 0;
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 7px;
    grid-column-start: 1;
    grid-column-end: 3;
}