.activities__available {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.activities__available::-webkit-scrollbar {
  width: 20px;
  background-image: url('../../../images/scroll-bar.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.activities__available::-webkit-scrollbar-thumb {
  background: radial-gradient(circle at center, rgba(34, 34, 88, 0.5), transparent 100%) ;
  border-radius: 30px;
}

@media screen and (max-width: 855px) {
  .activities__available::-webkit-scrollbar {
    background-size: 100%;
  }
}

