.activities {
    height: 90%;
    display: grid;
    width: 100%;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 10px auto;
    animation: poping .4s linear 0s forwards;
}

@media screen and (max-width: 950px) {
 .activities {
    grid-template-columns: 1fr 1fr;
 }
}

@media screen and (max-width: 855px) {
    .activities {
        display: flex;
        flex-direction: column;
    }
}