.activities__slots-number {
    font-size: 26px;
    padding: 0;
    color: rgb(193, 202, 212);
    margin: 10px 40px;
    letter-spacing: 2px;
}

@media screen and (max-width: 1150px) {
    .activities__slots-number {
        font-size: 22px;
        margin: 5px auto;
    }
}