.logo {
    width: 700px;
    height: 128px;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;
    font-family: 'Press-Start-K';
    font-style: italic;
    user-select: none;
}

@media screen and (max-width: 880px) {
  .logo {
    width: 50%;
  }
}

@media screen and (max-width: 855px) {
  .logo {
    height: 85px;
    gap: 0 10px;
    flex-direction: row;
    margin: 0 auto;
    width: calc(100% - 30px);
    justify-content: center;
    align-items: center;
  } 
}
