.challenges__container {
    height: 90%;
    display: grid;
    grid-auto-rows: auto;
    overflow-y: scroll;
}

.challenges__container::-webkit-scrollbar {
    width: 20px;
    background-image: url('../../../images/scroll-bar.png');
}

.challenges__container::-webkit-scrollbar-thumb {
    background: radial-gradient(circle at center, rgba(63, 63, 127, 0.5), transparent 100%) ;
    border-radius: 30px;
}

.challenges__container::-webkit-scrollbar-track {
}