.navigation__link {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  padding: 10px;
  color: antiquewhite;
}

.navigation__link:hover {
  background-color: rgba(64, 77, 96, .2);
}
