.activities__current {
    background-color: rgba(44, 52, 65, .2);
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr) 50px;
    gap: 2px 0;
}