.achievementItem {
    width: 25%;
    height: 33.3%;
    display: flex;
    flex-direction: row;
    position: relative;
}

@media screen and (max-width: 900px) {
    .achievementItem {
        width: 50%;
    }
}