.trialItem__complete-button {
    grid-column-start: 2;
    grid-column-end: 3;
    border: none;
    transition-property: color, text-shadow;
    transition-duration: 1s;
    background-color: transparent;
    color: rgba(83, 111, 197, .5);
    margin: 0 auto;
}

.trialItem__complete-button:hover {
    transition-property: color, text-shadow;
    transition-duration: 1s;
    color: royalblue;
    text-shadow: 0 0 20px rgba(250, 235, 215, .3);
}