.header__profile-name {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 0 0;
    margin: 0;
    font-size: 16px;
}


@media screen and (max-width: 1175px) {
  .header__profile-name {
     font-size: 14px;
  } 
}

@media screen and (max-width: 855px) {
   .header__profile-name {
      font-size: 16px;
      grid-column-start: 1;
      grid-column-end: 2;
   } 
}