.header {
    width: 1152px;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    font-family: 'Press-Start-K';
    color: aliceblue;
}

@media screen and (max-width: 1175px) {
   .header {
      width: calc(100% - 30px);
      margin: 10px 15px;
   } 
}
