.activities__global-buttons {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 855px) {
    .activities__global-buttons {
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 10px 0;
    }
}